#Task 2: Feb Internship Logic Building Task

##Python Programming Practice Problems

###Problem 1: Unique Words in a Sentence

In [1]:
def unique_words(sentence):
  #convert into lowercase
  sentence = sentence.lower()

  #split into words
  words=sentence.split()

  #remove duplicates
  unique = set(words)

  return unique, len(unique)
sentence = input("Enter Sentence: ")

unique_set, count = unique_words(sentence)

print("Unique words count: ", count)
print("Unique words: ", unique_set)

Enter Sentence: Python is easy and python is powerful.
Unique words count:  5
Unique words:  {'easy', 'is', 'and', 'powerful.', 'python'}

In [2]:
def unique_words(sentence):
  #convert into lowercase
  sentence = sentence.lower()

  #split into words
  words=sentence.split()

  #remove duplicates
  unique = set(words)

  print("Unique words count: ", unique)
  print("Unique words: ", len(unique))


sentence = input("Enter Sentence: ")

unique_words(sentence)

Enter Sentence: Python is easy and python is powerful.
Unique words count:  {'easy', 'is', 'and', 'powerful.', 'python'}
Unique words:  5

###Problem 2: Highest Salary from Employee Data

In [4]:
def find_highest_salary(employees):
  # find employee with highest salary
  highest_employee = max(employees, key=employees.get)
  highest_salary = employees[highest_employee]

  return highest_employee,highest_salary

employees = {
    "Ravi" : 75000,
    "Anita" : 68000,
    "Kiran" : 72000
}

name, salary = find_highest_salary(employees)

print("Highest Salary: ", name, salary)

Highest Salary:  Ravi 75000

In [6]:
def find_highest_salary(employees):
  # find employee with highest salary
  highest_employee = max(employees, key=employees.get)
  highest_salary = employees[highest_employee]

  print("Highest Salary: ", highest_employee,highest_salary)

employees = {
    "Ravi" : 75000,
    "Anita" : 68000,
    "Kiran" : 72000
}
find_highest_salary(employees)

Highest Salary:  Ravi 75000

###Problem 3: Find Maximum and Minimum Values

In [7]:
def find_max_min(numbers):
    maximum = numbers[0]
    minimum = numbers[0]

    for num in numbers:
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num

    return maximum, minimum


numbers = [45, 22, 89, 10, 66]

max_val, min_val = find_max_min(numbers)

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [9]:
def find_max_min(numbers):
    maximum = numbers[0]
    minimum = numbers[0]

    for num in numbers:
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num

    return maximum, minimum


temperatures = [45, 22, 89, 10, 66, -2, -10]

max_temp, min_temp = find_max_min(temperatures)

print("List of temperatures:", temperatures)
print("Maximum temperature:", max_temp)
print("Minimum temperature:", min_temp)

List of temperatures: [45, 22, 89, 10, 66, -2, -10]
Maximum temperature: 89
Minimum temperature: -10

###Problem 4: Count Products Above a Price Threshold

In [10]:
def count_above_threshold(prices, threshold):
    count = 0

    for price in prices:
        if price > threshold:
            count += 1

    return count


prices = [450, 1200, 899, 1500, 300]

result = count_above_threshold(prices, 1000)

print("Prices:", prices)
print("Products above 1000:", result)

Prices: [450, 1200, 899, 1500, 300]
Products above 1000: 2

In [11]:
def count_above_threshold(prices, threshold):
    count = 0

    for price in prices:
        if price > threshold:
            count += 1

    return count


prices = [450, 1200, 899, 1500, 300, 1700, 900, 2000]

result = count_above_threshold(prices, 1000)

print("Prices:", prices)
print("Products above 1000:", result)

Prices: [450, 1200, 899, 1500, 300, 1700, 900, 2000]
Products above 1000: 4

###Problem 5: Calculate Attendance Percentage

In [12]:
def calculate_attendance(attendance):
    p_count = 0

    for status in attendance:
        if status == "P":
            p_count += 1

    percentage = (p_count / len(attendance)) * 100

    return percentage


attendance = ["P", "P", "A", "P", "P"]

result = calculate_attendance(attendance)

print("Attendance List:", attendance)
print("Attendance Percentage:", result)

Attendance List: ['P', 'P', 'A', 'P', 'P']
Attendance Percentage: 80.0

In [13]:
def calculate_attendance(attendance):
    p_count = 0

    for status in attendance:
        if status == "P":
            p_count += 1

    percentage = (p_count / len(attendance)) * 100

    return percentage


attendance = ["P", "P", "A", "P", "P","P", "A", "P"]

result = calculate_attendance(attendance)

print("Attendance List:", attendance)
print("Attendance Percentage:", result)

Attendance List: ['P', 'P', 'A', 'P', 'P', 'P', 'A', 'P']
Attendance Percentage: 75.0

In [14]:
def calculate_attendance(attendance):
    p_count = 0
    a_count = 0

    for status in attendance:
        if status == "P":
            p_count += 1
        else:
            a_count += 1

    p_percentage = (p_count / len(attendance)) * 100
    a_percentage = (a_count / len(attendance)) * 100

    return p_percentage, a_percentage


attendance = ["P", "P", "A", "P", "P"]

p_perc, a_perc = calculate_attendance(attendance)

print("Attendance List:", attendance)
print("Present Percentage:", p_perc)
print("Absent Percentage:", a_perc)

Attendance List: ['P', 'P', 'A', 'P', 'P']
Present Percentage: 80.0
Absent Percentage: 20.0

###Problem 6: Remove Duplicate Phone Numbers

In [15]:
def remove_duplicates(phone_numbers):
    unique_numbers = set(phone_numbers)
    return unique_numbers


phone_numbers = [9876543210, 9123456789, 9876543210]

result = remove_duplicates(phone_numbers)

print("Original List:", phone_numbers)
print("Unique phone numbers:", result)

Original List: [9876543210, 9123456789, 9876543210]
Unique phone numbers: {9876543210, 9123456789}

In [16]:
def remove_duplicates(phone_numbers):
    unique_numbers = set(phone_numbers)
    return unique_numbers


phone_numbers = [9876543210, 9123456789, 9876543210, 9877543210, 9123456789, 9876543222]

result = remove_duplicates(phone_numbers)

print("Original List:", phone_numbers)
print("Unique phone numbers:", result)

Original List: [9876543210, 9123456789, 9876543210, 9877543210, 9123456789, 9876543222]
Unique phone numbers: {9876543210, 9877543210, 9123456789, 9876543222}

###Problem 7: Count Character Frequency

In [17]:
def count_character_frequency(text):
    frequency = {}

    for char in text:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency


text = "pythonp"

result = count_character_frequency(text)

print("Text:", text)
print("Character Frequency:", result)

Text: pythonp
Character Frequency: {'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [19]:
def count_character_frequency(text):
    text = text.lower().replace(" ", "")
    frequency = {}

    for char in text:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency


text = input("enter your text here: ")

result = count_character_frequency(text)

print("Text:", text)
print("Character Frequency:", result)

enter your text here: i am     Hera hera
Text: i am     Hera hera
Character Frequency: {'i': 1, 'a': 3, 'm': 1, 'h': 2, 'e': 2, 'r': 2}

###Problem 8: Convert List to Tuple

In [20]:
numbers = [10, 20, 30]
converted_tuple = tuple(numbers)

print("Tuple:", converted_tuple)

Tuple: (10, 20, 30)

###Problem 9: Check if a Key Exists in a Dictionary

In [21]:
def check_key_exists(data, key):
    if key in data:
        print("Employee exists")
    else:
        print("Employee does not exist")


employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

check_key_exists(employees, "Ravi")

Employee exists

In [22]:
def check_key_exists(data, key):
    if key in data:
        print("Employee exists")
    else:
        print("Employee does not exist")


employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

check_key_exists(employees, "rani")

Employee does not exist

###Problem 10: Calculate Average Marks

In [23]:
def calculate_average(marks):
    total = sum(marks)
    count = len(marks)
    average = total / count
    return average


marks = [65, 70, 80, 75]

avg = calculate_average(marks)

print("Marks:", marks)
print("Average Marks:", avg)

Marks: [65, 70, 80, 75]
Average Marks: 72.5